/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2014, 10:54:54 AM
    Author     : Jamie Sherriff
*/

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
    cursor:default;
    background-color:greenyellow;       
    color: black;
    font-size: 12pt;
}

#home{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    padding-top: 1%;
     font-size: 12pt;
}

h4{
    display:inline; 
}

.carousel-caption{
    background-color: black;
    opacity: 0.8;
    color: white;
}

.ng-scope{
    padding-top: 5px;
    padding-bottom: 5px;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

thead{
    font-weight:    bold;
}


.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}


.footer{
    padding-left: 10%;
    padding-top: 10px;
    color: #428bca;
}

.input_text{
    width: 30%;
    display: inline-block;
}


.button-table{
    display: block;
    algin: center;
    margin:auto;
    margin-left:  25px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
}


