<h2 class="text-success">About Page: </h2>
This page documents what my Polls site does, known bugs, 
important design decisions, and any other important usage information 
markers or users require.
<br>

<br><h4><b>Additional Functionality: </b></h4><br>
The web service is fully functional according to the specification.
This means new polls can be posted via a POST and modified by a PUT
They can also be deleted using a DELETE request.
To use these services directly please see below and to the 
assignment specification<br>
The full web service is also used in the angular polls app, please see below for
more information<br>
When viewing a poll a user gets presented with a nice pie chart which has been
done using the 3rd party plugin Angular charts, see the source list below
<br>

<br><h4><b>Web Services:</b></h4><br>
The following web services are available at the uri index.php/services/<br>
These services all follow the assignment specification<br>
Everything is handled in JSON so to post and put items JSON items must be
sent<br>
GET polls = Gets all available polls<br>
GET polls/[pollid] = Gets details for a specific poll<br>
POST polls = Generates a new poll needs a body content in a json object<br>
{title: 'some title',
question: 'some question',
answers: ["1", "2", "3"] }<br>
PUT polls[pollid] = Modifies an existing poll uses the same body format as post
polls<br>
DELETE polls/[pollid] = Deletes a specific poll at pollid <br>
POST votes/[pollId]/[vote] = Posts a vote to the pollid with the answer vote<br>
GET votes/[pollid] = Gets all votes for a specific poll  <br>
DELETE votes/[pollId] = Deletes all votes at a specific pollid <br>
There is extensive error checking for bad input and will return a "404 Not 
Found" along with a error array being {error:[message]}<br>


<br><h4><b>Home Page: </b></h4><br>
This page shows a welcome message along with a sliding bootstrap carousel
showing the first three polls.<br>
Please note the links to the first three polls have been hard-coded since they
cannot be deleted.<br>
There is also a Query.noConflict function to keep the carousel sliding every
four seconds.
<br>

<br><h4><b>Polls Page: </b></h4><br>
This page shows all available polls and the user has the option of voting,
modifying and viewing a poll
<br>

<br><h4><b>Create Poll Page: </b></h4><br>
This page allows the user to create a new poll and can set the number of 
answers they require.
<br>

<br><h4><b>Viewing a Poll</b></h4><br>
The user can view a specific poll with the options of clearing or deleting it
A pie chart is also generated which display's vote counts.
<br>

<br><h4><b>Modifying a poll</b></h4><br>
The user can modify an existing poll by changing the existing title, question
or answer list. 
<br>
<br><h4><b>Voting on a poll</b></h4><br>
The user can vote for one item from a list of answers, 
and their IP address is recorded
in the database but is not shown in the poll application.
<br>

<br><h4><b>Design: </b></h4><br>
CodeIgniter has been used to provide the main structure for my polls website
and as the projects PHP framework. Database access has been done in models
and passed back into the controllers. Page views are Angular partial pages
which angular renders. Each poll page has its on javascript controller and
information from the database is retrieved by using my web services.<br>

<br><h4><b>Database:</b></h4><br>
There is no handling of reseting the auto increment id's of tables
This means if a row is deleted the auto increment value is not reset 
back to the max value of id of the particular table. This 
means the id's will continue to grow.
<br>

<br><h4><b>Security: </b></h4><br>
I have followed the Code Ignighter database model so everything has been 
escaped. XSS attacks have also been accounted for by using xss_clean on 
my input fields.<br>
Global_xss_filtering and csrf_protection have also been 
enabled in Code Ignighter to provide more security.
<br>

<br><h4><b>Restrictions</b></h4><br>
You cannot delete the first three polls on the list so they can be 
viewed and marked. Additonal polls created can be deleted.<br>
Users cannot also modify poll title, answer and questions 
the first three polls so markers can view them
but the votes can be reset on them.<br>
When Creating a poll there is a minimum limit to two questions.
<br>

<br><h4><b>Bugs and known issues: </b></h4><br>
FireFox generates a console warning trying to load my graphs and is a 
browser bug which has been fixed in FireFox and is documented here:
<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=984146"> 
    https://bugzilla.mozilla.org/show_bug.cgi?id=984146.</a>

<br>
csrf_protection is disabled for any uri that has /services as it caused
complications when trying to access it.
Ideally the csrf cookie should be passed around when using the web
services but for simpliicty that has not been done.<br>
PUT and POST requests with body content do not work on a php local web server 
because of problems with it generating its own response locally. 
These however work fine on studweb3.<br>
I had not figured how to override the response header for a post request using
the rest_controller plugin, so currently the location uri for a new poll is
sent back in the post body response.
<br>

<br><h4><b>Web Site Appearance</b></h4><br>
Bootstrap has been used for a lot of the CSS and have implemented some of my
own custom CSS.<br>
The site is also reasonably UI friendly on smaller size browsers and mobile
devices.
<br>

<br><h4><b>Disclaimer</b></h4><br>
Please note since i have added the functionality to add, modify and 
remove polls i cannot control if other students abuse this, 
which is why i have secured the first three polls.
<br>

<br><h4><b>Source and Acknowledgment list:</b></h4><br>
<ul>
    <li><a href="https://ellislab.com/codeigniter"> Code Ignighter</a></li>
    <li><a href="https://angularjs.org/"> Angular JS</a></li>
    <li><a href="https://github.com/chriskacerguis/codeigniter-restserver"> 
            Code Ignighter Rest server</a></li>
    <li><a href="http://chinmaymk.github.io/angular-charts/"> 
            Angular Charts</a></li>
    <li><a href="http://getbootstrap.com/"> BootStrap</a></li>
    <li><a href="http://jquery.com/"> J Query</a></li>
    <li><a href="http://d3js.org/"> D3 JS</a></li>

</ul>
Sources for the pictures used on the homepage<br>
<ul>
    <li><a href="http://gadgetcoach.com.au/wp-content/uploads/2013/12/
           coffee-cup-steaming.png"> http://gadgetcoach.com.au/wp-content/
            uploads/2013/12/coffee-cup-steaming.png</a></li>
    <li><a href="http://free4cliparts.com/stack-of-books-clipart-
           clipart-best.html/clipart-book-stack-of-books-clipart-
           clipart-best-lqruoma"> http://free4cliparts.com/stack
            -of-books-clipart-clipart-best.html/clipart-book-stack
            -of-books-clipart-clipart-best-lqruoma
        </a>
    </li>
    <li><a href="https://openclipart.org/image/2400px/svg_to_png
           /2889/n_kamil_Money_-_banknotes_and_coin.png"> 
            https://openclipart.org/image/2400px/svg_to_png/2889/
            n_kamil_Money_-_banknotes_and_coin.png
        </a>
    </li>
</ul>
