<!--
Partial html page for the vote app that displays a create a new vote page
the user can submit a new poll to the database
-->
<h2 class="text-success">Create A New Poll</h2> 
<form data-ng-submit="submit()" name="createForm">
    <div class="text-primary"> 
        Title of Poll: 
    </div>  
    <input type="text" class="input_text" 
           data-ng-model="newPoll.title" name="form.title" required>    
    <br>
    <br>
    <div class="text-primary"> 
        Question to Ask:
    </div>  
    <input type="text" class="input_text" 
           data-ng-model="newPoll.question" name="form.question" 
           required> 
    <br>
    <br>
    <div class="text-info"> 
       Please use the buttons to add or remove answers
    </div> 
    <br>
        <button class="btn btn-warning"   
            type="button"data-ng-click="updateAnswerList()">
        Remove Answer
    </button>
    <button class="btn btn-danger"   
            type="button"data-ng-click="updateAnswerList(true)">
        Add Answer
    </button>
        <br>
    <br>
    <div data-ng-repeat="answer in newPoll.answers track by $index">
        <span class="text-info"> 
            Answer: {{$index + 1}}
        </span>  
        <input type="text" class="input_text" 
               data-ng-model="newPoll.answers[$index]" required>
    </div>
    <br>
    <input class="btn btn-success" type="submit" id="submit" 
           value="Submit" />  
</form>