<!--
Partial html page for the vote app that displays a home page, complete with
a sliding carousel by bootstrap.
-->
<div class="jumbotron">
    <h1>Welcome to Sherriff Polls</h1>
</div>
<p> This Website has been created for the purpose of the SENG365 polls
assignment, which is a CodeIgnighter and javascript Angular based web 
application.</p>
<p class> Please use the navigation bar at the top of this page to navigate 
    or click on a poll in the carousel below</p>
<br>
<!-- Carousel
================================================== -->
<div id="home" class="carousel slide" data-ride="carousel" 
     data-interval="4000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home" data-slide-to="0" class="active"></li>
        <li data-target="#home" data-slide-to="1"></li>
        <li data-target="#home" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/books.png" alt="b">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Student review of SENG365 Poll
                    </h1>
                    <p>
                        <a class="btn btn-lg btn-primary" 
                           href="#/viewing/1" 
                           role="button">Survey Poll
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/coffee.png" alt="coffee">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Hot off the press is the new coffee poll</h1>
                    <p><a class="btn btn-lg btn-primary" 
                          href="#/viewing/2" 
                          role="button">Coffee Poll</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/money.png" alt="money">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Are you happy with your income?, 
                        please check out the income poll</h1>
                    <p><a class="btn btn-lg btn-primary" 
                          href="#/viewing/7" 
                          role="button">Income Poll</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home" role="button" 
       data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left">
        </span></a>
    <a class="right carousel-control" href="#home" role="button" 
       data-slide="next">
        <span class="glyphicon glyphicon-chevron-right">            
        </span>
    </a>
</div><!-- /.carousel -->
<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready(function() {
        $('#home').carousel({interval: 4000, cycle: true});
    });
</script>  