
<!--
Partial html page for the vote app that allows the user to modify a particular
poll
-->
<div>
    <h2 class="text-success">
        Modifying {{ModdedPoll.title}} Poll
    </h2>
</div>
<form name="myForm" data-ng-submit="submitPoll()">   
    <div class="text-primary"> 
        Title of Poll: 
    </div>
    <input type="text" class="input_text"  
           data-ng-model="ModdedPoll.title" required/>
    <br>
    <br>
    <div class="text-primary"> 
        Question of Poll: 
    </div>  
    <input type="text" class="input_text" 
           data-ng-model="ModdedPoll.question" required/>
    <br>
    <br>
    <div class="text-primary">
        Answers for Poll:
    </div>
    <div data-ng-repeat="ans in ModdedPoll.answers track by $index">
        <span class="text-info">
            answer: {{$index + 1}} 
        </span>
        <input type="text" class="input_text" 
               data-ng-model="ModdedPoll.answers[$index]" required/>
    </div>
    <br>
    <input class="btn btn-success" 
           type="submit" id="submit" value="Submit" /> 
</form>
