<!--
Partial html page that shows all available polls and questions.
-->
<body>
    <h2 class="text-success">List of Polls</h2>   

    <table class="table table-striped table-bordered 
           table-hover table-condensed">
        <thead>
        <td> </td>
        <td><b>Title</b> </td>
        <td> <b>Question</b> </td>
        <td> </td>
        <td> </td>
    </thead>
    <tr data-ng-repeat="poll in pollList">
        <td><a class="btn button-table btn-success"  
               href="#/voting/{{poll.id}}">Vote</a> </td>
        <td>{{poll.title}}</td>
        <td>{{poll.question}}</td>
        <td> <a class="btn button-table btn-danger"  
                href="#/modify/{{poll.id}}">Modify</a> </td>
        <td><a class="btn button-table btn-info" 
               href="#/viewing/{{poll.id}}">View</a> </td>
    </tr>
</table>
