
<!--
Partial html page for the vote app to generate a specific poll and 
its vote count, also displays graphs and has the ability to reset and 
clear the current selected
poll
-->
<style type="text/css">
    body {
        font-family: "helvetica";
        color : #333;
    }
    [ac-chart] {
        float: none;
        width: 100%;
        height: 400px;
        margin-bottom: 5%;
    }
</style>

<body>
    <div>
        <h2 class="text-success">
            Viewing {{ansList.title}} Poll
        </h2>
    </div>
    <div>
        <h3 class="text-warning">
            Poll Question: {{ansList.question}}
        </h3>
    </div>
    <table class="table table-striped table-bordered table-hover 
           table-condensed">
        <td><b>Answer</b> </td>
        <td><b>Number of votes</b> </td>
        <tr class="" data-ng-repeat="ans in ansList.answers
                            track by $index">
            <td> {{ans}} </td>
            <td>{{voteList.Votes[$index]}} </td>
        </tr>
    </table>
        <button class="btn btn-warning"   
            type="button"data-ng-click="clearVotes(ansList.title)">
        Clear poll
    </button>
    <button class="btn btn-danger"   
            type="button"data-ng-click="deletePoll(ansList.title)">
        Delete poll
    </button>
    <br>
    <div data-ng-if="showChart" ac-chart="chartType" 
         ac-data="graphData" ac-config="graphConfig" 
         id='chart' class='chart'>
    </div>
    <div data-ng-if="!showChart">
        <div class="alert alert-info" role="alert">
            No votes have been recorded for this poll
        </div>
    </div>
