<!--
Partial html page for the vote app to generate a list of answers
and a user can then submit a form with their vote
-->
        <h2 class="text-success">Voting on Poll {{pollDetail.title}}</h2> 
        <form name="myForm" data-ng-submit="submitForm()">
            <label for="name" data-ng-class=
                   "{'error': form.$submitted && form.name.$invalid}">
                Please select an option below:
            </label>
            <ul>
                <div data-ng-repeat="answer
                    in pollDetail.answers track by $index">
                    <br>
                    <label class="btn btn-primary">
                        <input type="radio" data-ng-model="$parent.answersID" 
                               name="name" value="{{$index + 1}}" required />
                        {{answer}}
                    </label>
                </div>
            </ul>
            <h3 class="text-success" data-ng-if="myForm.$valid">
                You can now submit your vote
            </h3>
            <h3 class="help-block" data-ng-if="myForm.$invalid">
                Please select an option to vote
            </h3>
            <button class="btn btn-success" type="submit"   
                    data-ng-disabled="myForm.$invalid">
                Submit
            </button>
        </form>
